%script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"}
:javascript
	function initialize() {
			var mapOptions = {
					zoom: 15,
					center: new google.maps.LatLng(49.1678136, 16.5671893),
					mapTypeId: google.maps.MapTypeId.ROAD,
					scrollwheel: false
			}
			var map = new google.maps.Map(document.getElementById('map'),
					mapOptions);

			var myLatLng = new google.maps.LatLng(49.1681989, 16.5650808);
			var marker = new google.maps.Marker({
					position: myLatLng,
					map: map
			});
	}

	google.maps.event.addDomListener(window, 'load', initialize);
#content
	.container
		.col-md-12
			%ul.breadcrumb
				%li
					%a{:href => "#"} Главная
				%li Контакты
			.box.text-center
				.row
					.col-sm-10.col-sm-offset-1
						%h1 Контакты
						%p.lead Хотите с нами связаться?
						%p Мы доступны 24 часа в сутки, даже по выходным и праздникам.
			#contact.box
				.row
					.col-sm-4
						%h3
							%i.fa.fa-map-marker
							Адрес:
						%p
							%strong
								Офис:
							%br
								107023, г. Москва
								%br
									Мажоров пер., д. 14
									%br
										стр. 15 (подъезд 2, этаж 5, офис 53)
						%p
							%strong
								Склад:
							%br
								129090, г. Москва
								%br
									Протопоповский переулок, д. 9

					/ /.col-sm-4
					.col-sm-4
						%h3
							%i.fa.fa-phone
							Наши реквизиты
						%p.text-muted Общество с ограниченной ответственностью "МОСТРЕНД"
						%p
							%strong
								ОГРН:
							1157746674777
						%p
							%strong
								ИНН: 
							9701001922
						%p
							%strong
								КПП: 
							770101001
						%p
							%strong
								БИК: 
							044583297
						%h5
							%i.fa.fa-download
							=link_to "https://docviewer.yandex.ru/?url=ya-disk-public%3A%2F%2FM5ddBL3tE1iKnjKhsXjMccQ9Nz2PwZbDyhQiK9gIhkT1gx62nnijef7zVXCMRiIYq%2FJ6bpmRyOJonT3VoXnDag%3D%3D&name=%D0%A0%D0%B5%D0%BA%D0%B2%D0%B8%D0%B7%D0%B8%D1%82%D1%8B%20(%D0%9C%D0%BE%D1%81%D1%82%D1%80%D0%B5%D0%BD%D0%B4).pdf&c=55fa73be3be2" do
								Скачать полную версию реквизитов
					/ /.col-sm-4
					.col-sm-4
						%h3
							%i.fa.fa-envelope
							Связаться с нами
						%p.text-muted Напишите нам письмо или позвоните нам
						%ul
							%li
								%strong
									=link_to "mailto:info@mosflash.ru" do
										info@mosflash.ru
							%li
								Телефон:
								%strong
									=link_to '#' do
										+7 (499) 755-80-55
					/ /.col-sm-4
				/ /.row
				%hr
					#map
					%hr
						%h2.text-center Оставьте заявку
						%form
							.row
								.col-sm-10.col-sm-offset-1
									.col-sm-6
										.form-group
											%label{:for => "firstname"} Имя
											%input#firstname.form-control{:type => "text"}
									.col-sm-6
										.form-group
											%label{:for => "lastname"} Почта
											%input#lastname.form-control{:type => "text"}
									.col-sm-6
										.form-group
											%label{:for => "email"} Телефон
											%input#email.form-control{:type => "text"}
									.col-sm-6
										.form-group
											%label{:for => "subject"} Subject
											%input#subject.form-control{:type => "text"}
									.col-sm-12
										.form-group
											%label{:for => "message"} Ваше сообщение
											%textarea#message.form-control
									.col-sm-12.text-center
										%button.btn.btn-primary{:type => "submit"}
											%i.fa.fa-envelope-o
											Отправить
							/ /.row
			/ /#contact
	/ /.container