%script{:async => "", :charset => "utf-8", :src => "https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=mXYS7XACk5XX4g7Q1VcDvTNGDpUSHo-4&width=100%25&height=400&lang=ru_RU&sourceType=constructor&scroll=false", :type => "text/javascript"}
#content
	.container
		.col-md-12
			%ul.breadcrumb
				%li
					%a{:href => "#"} Главная
				%li Контакты
			.box.text-center
				.row
					.col-sm-10.col-sm-offset-1
						%h1 Контакты
						%p.lead Хотите с нами связаться?
						%p Мы доступны 24 часа в сутки, даже по выходным и праздникам.
			#contact.box
				.row
					.col-sm-4
						%h3
							%i.fa.fa-map-marker
							Адрес:
						%p
							%strong
								Офис:
							%br
								129090, г. Москва
							%br
								Протопоповский переулок, д. 9
						%p
							%strong
								Склад:
							%br
								129090, г. Москва
								%br
									Протопоповский переулок, д. 9

					/ /.col-sm-4
					.col-sm-4
						%h3
							%i.fa.fa-phone
							Наши реквизиты
						%p.text-muted Общество с ограниченной ответственностью "Флешки оптом"
						%p
							%strong
								ОГРН:
							1157746674777
						%p
							%strong
								ИНН: 
							9701001922
						%p
							%strong
								КПП: 
							770101001
						%p
							%strong
								БИК: 
							044583297
					/ /.col-sm-4
					.col-sm-4
						%h3
							%i.fa.fa-envelope
							Связаться с нами
						%p.text-muted Напишите нам письмо или позвоните нам
						%ul
							%li
								%strong
									=link_to "mailto:info@mosflash.ru" do
										info@usb-fleshki-optom.ru
							%li
								Телефон:
								%strong
									=link_to '#' do
										8 (499) 391 44 53
					/ /.col-sm-4
				/ /.row
				%hr
					#map
					%hr
						%h2.text-center Оставьте заявку
						%form
							.row
								.col-sm-10.col-sm-offset-1
									.col-sm-6
										.form-group
											%label{:for => "firstname"} Имя
											%input#firstname.form-control{:type => "text"}
									.col-sm-6
										.form-group
											%label{:for => "lastname"} Почта
											%input#lastname.form-control{:type => "text"}
									.col-sm-6
										.form-group
											%label{:for => "email"} Телефон
											%input#email.form-control{:type => "text"}
									.col-sm-6
										.form-group
											%label{:for => "subject"} Subject
											%input#subject.form-control{:type => "text"}
									.col-sm-12
										.form-group
											%label{:for => "message"} Ваше сообщение
											%textarea#message.form-control
									.col-sm-12.text-center
										%button.btn.btn-primary{:type => "submit"}
											%i.fa.fa-envelope-o
											Отправить
							/ /.row
			/ /#contact
	/ /.container