#content
  .container
    .col-md-12
      %ul.breadcrumb
        %li
          %a{:href => "#"} Главная
        %li История
      .box.text-center
        .row
          .col-sm-10.col-sm-offset-1
            %h1 О компании
            %p
              Компания «МОСФЛЕШ» была основана в 2008 году.
              Вот уже более 7 лет мы развиваемся на рынке сувенирной электроники. Всегда готовые предложить передовые новинки и самые оригинальные идеи, мы идём в ногу со временем.
    /
      *** LEFT COLUMN ***
      _________________________________________________________
    .col-md-12.clearfix
      #text-page.box
        .center
          =image_tag('history/history_1.png', alt: '')

        %p.text-center
          %h4
            %br
            С каждым годом накапливая опыт и покоряя новые ниши, сегодня мы с уверенностью можем сказать, о том, что:
        .row
          .text-center.text-block
            «МОСФЛЕШ» - это команда
            %br
            квалифицированных специалистов в области
            %br
            рекламно-сувенирной электронной продукции под нанесение логотипа.
        .center
          =image_tag('history/history_2.png', alt: '')
        .text-center.text-block
          «МОСФЛЕШ» – это не только флешки!
          %br
          Мы по-настоящему любим своих клиентов!
          %br
          Поэтому мы не перестаем удивлять их приятными мелочами, например
          %br
          в виде наших фирменных печений,приготовленных по особому рецепту
          %br
          профессиональными кондитерами.

        .center
          =image_tag('history/history_3.png', alt: '')

        %h2 Логистика
        %p
          За эти годы мы довели до совершенства транспортно-логистическую систему. Именно поэтому, мы всегда готовы предложить в большом   количестве различные модели флешек и Power Bank со склада, а также наикротчайшие сроки при заказе продукции из Китая. Расширение географии офисов и складов так же помогает быстро, а главное качественно организовывать предлагаемый сервис в разных уголках России.

        %h2 Качество
        .row
          .col-md-8
            %p
              Мы работаем напрямую с заводами-партнёрами в Китае, поэтому контролируем
              качество уже на начальном этапе производства. Вы можете быть уверены
              в качестве, а мы готовы доказать его уровень!
          .col-md-4
            =image_tag('history/history_4_button.png', alt: '')

        %h2 Подход к клиенту
        %p
          Индивидуальный подход к каждому клиенту, грамотная консультация на всех этапах заказа, предоставление образцов, обеспечения комфортных условий для клиента – наши главные преимущества! Коллектив-наш главный актив, а всегда довольный клиент-наша цель!
        .center
          =image_tag('history/history_5.png', alt: '')

        %h2 История

        %h3 2008
        %p
          Открытие компании ООО «Китай в коробке», которая специализируется на оптовых поставках товаров из Китая.
          Штат компании 2 человека. Компания успешно реализовывала отдельные проекты поставок под заказ для различного рода компаний.

        %h3 2010
        %p
          В последствии, изучив рынок спроса и предложения, была выделена наиболее прибыльная и интересная отрасль – поставки рекламных сувениров, преимущественно электроники под нанесение логотипа! В следствии этого была создана компания «Мосфлеш». Штат компании 3 человека.

        %h3 2011
        %p
          Компания «Мосфлеш» стремительно развивается, активно растёт её штат и клиентская база. Происходит организация работ и поставок по всей России. Штат компании 5 человек.

        %h3 2012
        %p
          Контроль качества всегда был приоритетным направлением в развитии, и компания готова уверенно сказать, что добилась наилучшего контроля качества на рынке.

        %h3 2013
        %p
          Расширение штата до 9 человек, с прохождением всего штата дополнительной профессиональной подготовки.
          Расширение списков дополнительных услуг и ввод новинок. 

        %h3 2014
        %p
          Открытие второго офиса в Москве. Внедрение видеомониторинга на складе и в доп. офисе для удобства клиентов.

        %h2 Наши планы

        %h3 2015
        %ul
          %li 
            Изучаем инновации.
            %br
            Мы стремимся знать всё о новых сувенирах в сфере электроники и готовы делиться с Вами!
          %li
            Новые метки на карте.
            %br
            Открытие офиса в Казани на партнерской основе. Новый регион – новые возможности.
          %li
            Упрощение коммуникаций.
            %br
            Разработка нового дизайна сайта с интуитивно понятной навигацией и приятным интерфейсом.
            %br
            Профессиональные фотографии продукции.

        %h3 2016
        %ul
          %li
            Международное развитие.
            %br
            Покупка производства в Китае.
            %br
            Поставка продукции на внешние рынки.
            %br
            Участие в Кантонской выставке в Гуанчжоу.
          %li
            Дружим с соседями.
            %br
            Выход на рынок Казахстана.
          %li
            Выход на рынок сувенирной продукции.
            %br
            А мы придумаем тот самый сувенир, о котором ты ещё не знаешь, но который уже хочешь!