
.col-md-12
	=image_tag 'default/arrow_down.png', width: 80
	%h1 Мы отвечаем за качество наших флешек!
	%p.lead Скачайте приложение по проверке качества чипов и убедитесь, что ваша флешка соответствует заявленным характеристикам!
	%p.text-center
		%a.btn.btn-primary.btn-lg{:href => "index2.html"} Скачать
	%p.lead
		Узнать подробнее