
.col-md-12
	=image_tag 'default/arrow_down.png', width: 80
	%h1 Мы отвечаем за качество наших флешек!
	%p.lead Скачайте приложение по проверке качества чипов и убедитесь, что ваша флешка соответствует заявленным характеристикам!
	%p.text-center
		=link_to "https://www.dropbox.com/s/4chov4jwuffk33p/USB_Test_www.mosflash.ru.zip?dl=0", class: 'btn btn-primary btn-lg' do
			Скачать
	%p.lead
		=link_to checkflash_path do
			Узнать подробнее