
.col-md-12
	.icon.icon-lg
		%i.fa.fa-file-code-o
	%h1 Полноцветная печать всего за 3 дня!
	%p.lead Вниманию клиентов! На весь ассортимент из каталога распространяется скидка на услуги:
	%p.text-center
		%a.btn.btn-primary.btn-lg{:href => "index2.html"} Нанесение логотипа и запись информации на носитель.