
.col-md-12
	=image_tag 'default/arrow_down.png', width: 80
	%h1 Мы отвечаем за качество наших флешек!
	%p.lead Скачайте приложение по проверке качества чипов и убедитесь, что ваша флешка соответствует заявленным характеристикам!
	%p.text-center
		=link_to 'https://yadi.sk/d/C-jBOTHhi4ZiC', class: 'btn btn-primary btn-lg' do
			Скачать
	%p.lead
		=link_to checkflash_path do
			Узнать подробнее