-@products.each do |product|
	-if product.images.any?
		.col-md-3.col-sm-4
			.product
				.image
					=link_to product do
						=image_tag product.images.first.image.to_s, class: 'img-responsive image1', alt: ''
				.text
					%h3
						=link_to product.title, product
					%p.price
						от
						=sprintf('%.2f', crb_kurs(product.options.first.price)) if product.options.first.price?
						руб.