-@products.each do |product|
	-if product.images.any?
		.col-md-3.col-sm-4
			.product
				.image
					=link_to product do
						-if product.images.first.image.url && product.images.first.image.thumb_medium.file.exists?
							=image_tag product.images.first.image.url(:thumb_medium), class: 'img-responsive image1', alt: ''
						-else
							=image_tag product.images.first.image.url, class: 'img-responsive image1', alt: ''
				.text
					%h3
						=link_to product.title, product
					%p.price
						от
						=sprintf('%.2f', crb_kurs(product.options.first.price)) if product.options.first.price?
						руб.