#member_slider.owl-carousel.owl-theme
	-@members.each do |member|
		.item
			.overlay
				%h2 Hoho
				/ =image_tag 'default/blurred-office-11.jpg', class: 'img img-responsive', alt: ''
				=image_tag member.avatar, class: 'img img-responsive teammember'
