#member_slider.owl-carousel.owl-theme
	.textoverlay
		-@members.each do |member|
			.item
				%h2 Hoho
				=image_tag 'default/blurred-office-11.jpg', class: 'img img-responsive', alt: ''
				=member.name