/ #hot_slider.owl-carousel.owl-theme
/   -@hotProducts.each do |product|
/     .item
/       =if product.hotpic
/         =link_to product do
/           =image_tag product.hotpic.thumb.to_s, class: 'img img-responsive', alt: ''

#slider.owl-carousel.owl-theme
  -@products.each do |product|
    .item
      =link_to product do
        =image_tag product.images.first.image.to_s, class: 'img img-responsive', alt: ''
/ /#slider
/ *** SLIDER END ***




#all
  /
    *** ADVANTAGES ***
    _________________________________________________________
  #advantages
    .container
      .col-md-12
        .box.text-center
          %h3.text-uppercase О нашем магазине
          %p
            В нашем магазине вы найдете более
            %strong 300 видов флешек и прочих аксесуаров.
            Наши специалисты с удовольствием помогут вам с выбором.
          .same-height-row.row
            .col-sm-3
              .box.same-height.clickable.no-border.text-center-xs.text-center-sm
                .icon
                  %i.fa.fa-heart-o
                %h4
                  %a{:href => "text.html"} Более 1000 довольных клиентов.
            .col-sm-3
              .box.same-height.clickable.no-border.text-center-xs.text-center-sm
                .icon
                  %i.fa.fa-tags
                %h4
                  %a{:href => "text.html"} Лучшие цены на флешки оптом.
            .col-sm-3
              .box.same-height.clickable.no-border.text-center-xs.text-center-sm
                .icon
                  %i.fa.fa-send-o
                %h4
                  %a{:href => "faq.html"} Быстрая доставка из Китая.
            .col-sm-3
              .box.same-height.clickable.no-border.text-center-xs.text-center-sm
                .icon
                  %i.fa.fa-refresh
                %h4
                  %a{:href => "contact.html"} Гарантия возврата.
          / /.row
    / /.container
  / /#advantages
  / *** ADVANTAGES END ***
  /
    *** CONTENT ***
    _________________________________________________________
    _________________________________________________________
  #content
    .container
      .col-sm-12
        .box.text-center
          %h3.text-uppercase Новые поступления
          %h4.text-muted
            %span.accent Доставка в течении дня
            на все
        .row.products
          =render 'new_products'

    .bar.background-image-fixed-2.no-mb.color-white.text-center
      .dark-mask
      .container
        .row
          =render 'advertising'
    / *** PROMO BAR END ***
    .container
      .col-sm-12
        /
          *** BLOG HOMEPAGE ***
          _________________________________________________________
        .box.text-center
          %h3.text-uppercase From our blog
          %p.text-italic.text-large
            What's new in the world of fashion?
            %span.accent Check our blog!
        #blog-homepage.row
          .col-sm-6
            .post
              %h4
                %a{:href => "post.html"} Fashion now
              %p.author-category
                By
                %a{:href => "#"} John Slim
                in
                %a{:href => ""} Fashion and style
              %hr
                %p.intro
                  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                  ultricies mi vitae est. Mauris placerat eleifend leo.
                %p.read-more
                  %a.btn.btn-primary{:href => "post.html"} Continue reading
          .col-sm-6
            .post
              %h4
                %a{:href => "post.html"} Who is who - example blog post
              %p.author-category
                By
                %a{:href => "#"} John Slim
                in
                %a{:href => ""} About Minimal
              %hr
                %p.intro
                  Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                  ultricies mi vitae est. Mauris placerat eleifend leo.
                %p.read-more
                  %a.btn.btn-primary{:href => "post.html"} Continue reading
        / /#blog-homepage
        / *** BLOG HOMEPAGE END ***