/ #hot_slider.owl-carousel.owl-theme
/   -@hotProducts.each do |product|
/     .item
/       =if product.hotpic
/         =link_to product do
/           =image_tag product.hotpic.thumb.to_s, class: 'img img-responsive', alt: ''

#slider.owl-carousel.owl-theme
  -@hotProducts.each do |product|
    .item
      =link_to product do
        -if product.hotpic.url
          =image_tag product.hotpic.url, class: 'img img-responsive', alt: ''
        -else
          =image_tag product.hotpic.url, class: 'img img-responsive', alt: ''
/ /#slider
/ *** SLIDER END ***




#all
  / *** CONTENT ***
  / _________________________________________________________
  / _________________________________________________________
  #content
    .container
      .col-sm-12
        .box.text-center
          %h3.text-uppercase Флешки
          / %h4.text-muted
          /   %span.accent Доставка в течении дня
          /   на все
        .row.products
          =render partial: 'shared/categories', locals: { abstract_category: @fleshki_category}
  
  / Display power bank only

  #content
    .container
      .col-sm-12
        .box.text-center
          %h3.text-uppercase Power Bank
          / %h4.text-muted
          /   %span.accent Доставка в течении дня
          /   на все
        .row.products
          =render partial: 'shared/categories', locals: { abstract_category: @power_bank_category }

  /
    *** ADVANTAGES ***
    _________________________________________________________
  #advantages
    .container
      .col-md-12
        .box.text-center
          %h3.text-uppercase О нашем магазине
          %p
            В нашем магазине вы найдете более
            %strong 300 видов флешек и прочих аксесуаров.
            Наши специалисты с удовольствием помогут вам с выбором.
          .same-height-row.row
            .col-sm-3
              .box.same-height.clickable.no-border.text-center-xs.text-center-sm
                .icon
                  %i.fa.fa-heart-o
                %h4
                  %a{:href => "#"}Более 1000 довольных клиентов.
            .col-sm-3
              .box.same-height.clickable.no-border.text-center-xs.text-center-sm
                .icon
                  %i.fa.fa-tags
                %h4
                  %a{:href => "#"}Лучшие цены на флешки оптом.
            .col-sm-3
              .box.same-height.clickable.no-border.text-center-xs.text-center-sm
                .icon
                  %i.fa.fa-send-o
                %h4
                  %a{:href => "#"}Быстрая доставка из Китая.
            .col-sm-3
              .box.same-height.clickable.no-border.text-center-xs.text-center-sm
                .icon
                  %i.fa.fa-refresh
                %h4
                  %a{:href => "#"} Гарантия возврата.
          / /.row
    / /.container
  / /#advantages
  / *** ADVANTAGES END ***
  /
    *** CONTENT ***
    _________________________________________________________
    _________________________________________________________
  #content
    .container
      .col-sm-12
        .box.text-center
          %h3.text-uppercase Новые поступления
          / %h4.text-muted
          /   %span.accent Доставка в течении дня
          /   на все
        .row.products
          =render 'new_products'

      .col-sm-12
        .box.text-center
          %h3.text-uppercase Популярное
          / %h4.text-muted
          /   %span.accent Доставка в течении дня
          /   на все
        .row.products
          =render 'popular_products'

    .bar.background-image-fixed-2.no-mb.color-white.text-center
      .dark-mask
      .container
        .row
          =render 'advertising'
    .container
      .col-sm-12
        .box.text-center
          %h3.text-uppercase Наша команда
          / %h4.text-muted
          /   Мы
          /   %span.accent заботимся о качестве
          /   на все 100
        =render 'team'
    / *** PROMO BAR END ***
    .container
      .col-sm-12
        =render 'blog'