.col-md-12.col-sm-12
  .box
    .center
      %h3 Вам также может понравиться

-@randomProduct.each do |product|
  -if product.options.first.price
    .col-md-2.col-sm-3
      .product
        .image
          =link_to product do
            -if product.images.first.image.url(:thumb_medium)
              =image_tag product.images.first.image.url(:thumb_medium), class: 'img-responsive image1', alt: ''
            -else
              =image_tag product.images.first.image.to_s, class: 'img-responsive image1', alt: ''
        .text
          %h3
            =product.title
          %p.price
            от
            =sprintf('%.2f', crb_kurs(product.options.first.price))
            руб.