#content
	.container
		.col-md-12.clearfix
			%ul.breadcrumb
				%li
					=link_to 'Главная', root_path
				%li Оформление заказа
			.box.text-center
				.row
					.col-sm-10.col-sm-offset-1
						%h1 Оформление заказа
		#checkout.col-md-9.clearfix
			.box
				=form_for @order do |f|
					%ul.nav.nav-pills.nav-justified{id: 'order_tabs', 'data-tabs' => 'tabs'}
						%li.active.tab-link#address
							%a{:href => "#address", 'data-toggle' => 'tab', role: 'tab', "aria-controls" => 'address'}
								%i.fa.fa-map-marker
								%br Ваши данные
						%li.disabled.tab-link#delivery
						%li.disabled.tab-link#delivery
						%li.disabled.tab-link#delivery
					.tab-content
						.tab-pane.active#address_tab{role: 'tabpanel'}
							.row
								.col-sm-12
									.form-group
										=f.label 'Имя'
										=f.text_field :fname, id: 'firstname', class: 'form-control'
								.col-sm-12
									.form-group
										=f.label 'Телефон'
										=f.text_field :phone, id: 'phone', class: 'form-control'
								.col-sm-12
									.form-group
										=f.label 'Электронная почта'
										=f.text_field :mail, id: 'mail', class: 'form-control'

							/ /.row
							.box-footer
								.pull-left
									=link_to cart_path(session[:cart_id]), class: 'btn btn-default' do
										%i.fa.fa-chevron-left
										Корзина
								.pull-right
									=f.submit 'Оформить заказ', class: 'btn btn-primary'

			/ /.box
		/ /.col-md-9
		.col-md-3
			=render 'carts/order_summary'