#content
  .container
    .col-md-12
      %ul.breadcrumb
        %li
          %a{:href => "index.html"} Главная
        %li Корзина
      .box.text-center
        .row
          .col-sm-10.col-sm-offset-1
            %h1 Корзина
            %p.text-muted 
              На данный момент у вас
              =@cart.line_items.count 
              ="товар#{russianize(@cart.line_items.count)} в корзине."
    #basket.col-md-9.clearfix
      .box
        .table-responsive
          %table.table
            %thead
              %tr
                %th{:colspan => "2"} Товар
                %th Количество
                %th Цена
                %th Скидка
                %th{:colspan => "2"} Общая сумма
            %tbody
              -@cart.line_items.each do |li|
                %tr
                  %td
                    =link_to li.product do
                      -if li.product.images.first.image.url && li.product.images.first.image.thumb_small.file.exists?
                        =image_tag li.product.images.first.image.url(:thumb_small), alt: '#{li.product.images.first.image.to_s}'
                      -else
                        =image_tag li.product.images.first.image.url, alt: '#{li.product.images.first.image.to_s}'
                  %td
                    =link_to li.product.title, li.product
                  %td
                    %input.form-control{:disabled => '', :type => "number", value: li.quantity, size: 20, id: 'quantity_input'}
                  %td
                    .priceOutput
                      / Here we do output the price value
                      =li.sellprice
                      руб
                  %td 0.00 руб
                  %td
                    .totalPrice
                      / Total price for the line item
                      =li.sellprice * li.quantity
                      руб
                  %td
                    =link_to li, method: :delete do
                      %i.fa.fa-trash-o
            %tfoot
              %tr
                %th{:colspan => "5"} Сумма
                %th{:colspan => "2"}
                  / Total price for the cart
                  =@cart.cartValue
                  руб
          .box-footer
            .pull-left
              =link_to root_path, class: 'btn btn-default' do
                %i.fa.fa-chevron-left
                Продолжить покупки
              
              / =button_to @cart, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-warning' do  
              /   %i.fa.fa-trash-o
              /   Удалить
              
            .pull-right
              =button_to new_order_path, class: 'btn btn-primary', method: :get do
                Завершить заказ
                %i.fa.fa-chevron-right
      / /.box
      .row
        = render 'shared/you_may_like'
    .col-md-3
      =render 'order_summary'