.row
	.col-md-4.col-xs-12
		-if @product.errors.any?
			%ul.alert.alert-danger
				-@product.errors.full_messages.each do |msg|
					%li 
						=msg
	.col-md-8
	.col-md-12
		=form_for([:admin, @product], html: { multipart: true }) do |f|
			.col-md-4.col-xs-12
				%p
					=f.label "Выбрать категорию товара"
					=f.collection_select :category_id, Category.all, :id, :title, { prompt: 'Выбрать категорию' }, class: 'form-control'
					%br
					=f.label "Выбрать подкатегорию товара"
					=f.collection_select :subcategory_id, Subcategory.all, :id, :title, { prompt: 'Выбрать подкатегорию' }, class: 'form-control'
					=f.label "Наименование товара"
					=f.text_field :title, class: 'form-control'
					%br
					=f.label "Рекламный текст (идет сразу после наименования)"
					=f.text_area :advertising_text, class: 'form-control'
					%br
					=f.label "Дополнительная информация продукта (идет под характеристиками)"
					=f.text_area :description, class: 'form-control'
					%br
					=f.label "Материал, из которого состоит продукт (в свободной форме)"
					=f.text_field :material, class: 'form-control'
					%br
					=f.label "Цитата (идет в самом низу)"
					=f.text_area :fancy_quote, class: 'form-control'
					%br
					=f.label "Показывать товар на главной в самом верху?"
					=f.check_box :hot
					%p
						Если показывать, то нужно загрузить "горячую" фотографию
						%br
						=f.label 'Загрузить фото'
						=f.file_field :hotpic, class: 'form-control'
					%hr
					=f.label "Загрузить фото для превью (это та фотка, которая в карточке товара будет идти всегда первой)"
					=f.file_field :previewpic, class: 'form-control'
					%br
					%h5 Доступные для товара цвета
					=collection_check_boxes(:product, :color_ids, Color.all, :id, :value ) do |b|
						%br
						= b.label class: "label-checkbox" do
							=b.check_box + b.text
					
				%p
					.box
						%h3 Опции
						=f.fields_for :options do |builder|
							=render 'option_fields', f: builder
							%br
						=link_to_add_fields 'Добавить опцию', f, :options
					.box
						%h3 Дополнительные услуги товара
						%h5 При создании нового товара нужно сначала отметить доп. услуги, сохранить и только при редактировании отметить все коеффициенты.
						=collection_check_boxes(:product, :addservice_ids, Addservice.all, :id, :title) do |b|
							=b.label class: 'checkbox' do
								=b.check_box + b.text
						%h5 Коэффициенты (на это значение будет умножена базовая цена доп.услуги).
						=f.fields_for :servizations do |s|
							=s.number_field :coefficient, class: 'form-control', step: :any
							%br
				%p
					=file_field_tag :image, name: "images[]", id: 'fileupload', type: :file, multiple: true

					-if @product.images.any?
						.box
							%h6 Удалить фотографии
							%p
								=f.fields_for :images do |builder|
									=image_tag builder.object.image, width: 120
									=builder.label :_destroy, 'Удалить фотографию'
									=builder.check_box :_destroy
									%br
									%hr.short.alt
			.col-md-2
			.col-md-4.col-xs-12
				=f.fields_for :characteristics do |charBuilder|
					%p
						.row
							%h5 Физические данные товара
							=charBuilder.label 'Вес товара (только число в граммах, например 325)'
							=charBuilder.number_field :weight, step: :any, class: 'form-control'
						.row
							=charBuilder.label 'Длина товара (только число, в миллиметрах, например 280)'
							=charBuilder.number_field :length, step: :any, class: 'form-control'
						.row
							=charBuilder.label 'Ширина товара (только число, в миллиметрах, например 125)'
							=charBuilder.number_field :width, step: :any, class: 'form-control'
						.row
							=charBuilder.label 'Толщина товара (только число, в миллиметрах, например 52)'
							=charBuilder.number_field :thickness, step: :any, class: 'form-control'
				.row
					%h5 Вводить только если категория товара НЕ флешка
					%h6 Если введена данная цена, то размеры не будут отображаться!
					=f.label 'Базовая цена товара в долларах'
					=f.number_field :basicprice, class: 'form-control', step: :any

				.row
					.box
						%h3 Дополнительные характеристики
						=f.fields_for :additionalcharacteristics do |addchar_builder|
							=render 'additionalcharacteristic_fields', f: addchar_builder
							%br
						=link_to_add_fields 'Добавить характеристику', f, :additionalcharacteristics

				=f.submit 'Сохранить', id: 'submit-data', class: 'btn btn-success'
				=link_to 'Отменить', admin_path, class: 'btn btn-info'
				

				.box
					Текущие связанные товары:
					-@product.accompanies.each do |accompany|
						%br
						=accompany.title
						=link_to 'Удалить', admin_accompanships_destroy_path(product_id: @product.id, accompany_id: accompany.id), method: :delete, data: { confirm: "Действительно удалить?" }
				.box
					%h3 Добавлять только при редактировании, так как информация выше иначе сотрется
					-Product.all.each do |product|
						=product.title
						=link_to 'Добавить как сопутсвующий товар', admin_accompanships_create_path(product_id: @product.id, accompany_id: product.id)
						%br
			.col-md-2