=f.label "Цена покупки товара (в долларах - цена Китай)"
=f.number_field :price, step: :any
%br
=f.label "Размер"
-Volume.all.each do |volume|
	=f.label volume.value
	=f.radio_button :size, volume.id
%br