=f.label "Цена покупки товара (в долларах - цена Китай)"
=f.number_field :price, step: :any
%br
=f.label "Размер"
%br
-Volume.all.order(value: :asc).each do |volume|
	="#{volume.value} Гб"
	=f.radio_button :size, volume.id
	%br
%br
=f.label 'Удалить?'
=f.check_box :_destroy