%h1 Создать новый товар


=form_for @product, url: products_path do |f|
	%p
		=f.label "Наименование товара"
		=f.text_field :title
		%br
		=f.label "Рекламный текст (идет сразу после наименования)"
		=f.text_area :advertising_text
		%br
		=f.label "Описание продукта (идет под кнопкой купить)"
		=f.text_area :description
		%br
		=f.label "Цитата (идет в самом низу)"
		=f.text_area :fancy_quote
		%br
		=f.label "Выбрать категорию товара"
		=f.collection_select :category_id, Category.all, :id, :title, { prompt: 'Please select category' }
		%br
		=f.label "Выбрать подкатегорию товара"
		=f.collection_select :subcategory_id, Subcategory.all, :id, :title, { prompt: 'Please select sub-category' }
		%br
		=f.label "Показывать товар на главной в самом верху?"
		=f.check_box :hot
		%p
			Если показывать, то нужно загрузить "горячую" фотографию
			%br
			=f.label 'Загрузить фото'
			=f.file_field :hotpic
		/ =f.label 'Product Size'
		/ =f.collection_check_boxes(:volume_ids, Volume.all, :id, :value)
		
	%p
		.box
			%h3 Опции
			=f.fields_for :options do |builder|
				=render 'option_fields', f: builder
				%br
				=link_to_add_fields 'Добавить опцию', f, :options


	%p
		=f.fields_for :image, Image.new, html: { multipart: true, id: "fileupload"  } do |op|
			= op.label 'Загрузить остальные фото товара'
			= op.file_field :image, multiple: true, id: 'fileupload', name: "product[images_attributes][][image]"
	=f.submit 'Создать новый товар', id: 'submit-data'