// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.use_border {
	border: 1px solid;
}

.use_margin {
	margin-top: 20px;
}

.use_padding_top_2 {
	padding-top: 2px;

}

.mosflash_receipt_border {
	border: 1px solid;
}

.mosflash_margin_15 {
	margin-right: 15px;
}

.mosflash_margin_top_20 {
	margin-top: 20px;
	margin-bottom: 20px;
}