.row
	=form_for([:admin, @addservice]) do |f|
		.col-md-4.col-xs-12
			=f.label 'Наименование категории'
			=f.text_field :title, class: 'form-control'
			%br
			=f.label 'Базовая цена (в рублях)'
			%h6 Данная цена является базовой и просто прибавляется к общей стоимости товара
			=f.number_field :price, class: 'form-control', step: 'any'
			%br
			=f.label 'Услуга добавляется к каждому товару или к партии товара? (Например разработка логотипа идет на партию, в то время как гравировка на каждый товар) '
			%p
				Отмеченный чекбокс - к партии товара. Пустой чекбокс - к каждому товару.
			=f.check_box :toparty, class: 'form-control'
			%br
			=f.submit 'Сохранить', class: 'btn btn-success'
			=link_to 'Отменить', admin_path, class: 'btn btn-info'
		.col-md-4.col-xs-12
			%p 
				Если услуга предоставляется для какого-то кол-ва единиц, то необходимо указать, какие единицы использовать. Например запись на носитель инфы - пользователь может указать кол-во гигабат, для которых ему это нужно. Соответственно нужно указать "гигабайт". Или "стороны", если услуга наносится на одну или несколько сторон.
			=f.text_field :amount_name, class: 'form-control'
		.col-md-2.col-xs-12