%h1 Админская панель
%p
	%ul
		%li
			=link_to 'На дашборд', admin_path
		%li
			=link_to 'Создать новую допуслугу', new_admin_addservice_path

%h2 Все доп.услуги

=render 'shared/listing_addservices'