%h4 Макеты для скачивания
%ul
	-@product.makets.each do |maket|
		%li
			=form_tag product_download_path(product_id: @product.id), method: :get do
				=text_field_tag :seduce, nil, class: 'seduce_me'
				=hidden_field_tag :maket, maket.id
				=submit_tag "#{maket.name} - #{maket.maket_type}", class: 'btn btn-default'