.col-sm-9
	.box.info-bar.no-border
		.row
			.col-sm-12.col-md-4.products-showing
				Всего
				%strong
					=@products.count
				="товар#{russianize(@products.count)}"

			.col-sm-12.col-md-8.products-number-sort
				.row
					%form.form-inline
						.col-md-6.col-sm-6
							.products-number
								%strong 
									Показывать
									= select_tag :per_page, options_for_select([12,24,48], params[:per_page].to_i), :onchange => "if(this.value){window.location=window.location+'?per_page='+this.value;}", class: 'form-control'
								%span.hidden-md товаров
						.col-md-6.col-sm-6
							.products-sort-by
								%strong Сортировать по
								=select_tag :sort, options_for_select({"Названию" => 'title',"Цене" => 'created_at'}, params[:sort]), onchange: "if(this.value){window.location=window.location+'?sort='+this.value;}", class: 'form-control'
	.row.products
		-@products.each do |product|
			.col-md-4.col-sm-6
				.product
					.image
						=link_to product do
							-if product.previewpic.url && product.previewpic.thumb_medium.file.exists?
								=image_tag(product.previewpic.url(:thumb_medium), class: 'img img-responsive image1', alt: '')
							-else
								=image_tag(product.images.first.image.url(:thumb_medium), class: 'img img-responsive image 1', alt: '')

					.text
						%h3
							=link_to '#', data: { target: '#product-quick-view-modal', toggle: 'modal'} do
								= product.title
						%p.price
							-if product.basicprice
								от
								=sprintf('%.2f', initialPrice(product.basicprice))
								руб.
							-elsif product.options.first.price
								от
								=sprintf('%.2f', initialPrice(product.options.first.price))
								руб.
							-else
								N/A

		#product-quick-view-modal.modal.fade{"aria-hidden" => "false", :role => "dialog", :tabindex => "-1"}
			.modal-dialog.modal-lg
				.modal-content
					.modal-body
						%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
						.row.quick-view.product-main
							.col-sm-6
								.quick-view-main-image
									%img.img-responsive{:alt => "", :src => "img/detailbig1.jpg"}
								.ribbon.ribbon-quick-view.sale
									.theribbon SALE
									.ribbon-background
								/ /.ribbon
								.ribbon.ribbon-quick-view.new
									.theribbon NEW
									.ribbon-background
								/ /.ribbon
								.row.thumbs
									.col-xs-4
										%a.thumb{:href => "img/detailbig1.jpg"}
											%img.img-responsive{:alt => "", :src => "img/detailsquare.jpg"}
									.col-xs-4
										%a.thumb{:href => "img/detailbig2.jpg"}
											%img.img-responsive{:alt => "", :src => "img/detailsquare2.jpg"}
									.col-xs-4
										%a.thumb{:href => "img/detailbig3.jpg"}
											%img.img-responsive{:alt => "", :src => "img/detailsquare3.jpg"}
							.col-sm-6
								%h2 White Blouse Armani
								%p.text-muted.text-small.text-center White lace top, woven, has a round neck, short sleeves, has knitted lining attached
								.box
									%form
										.sizes
											%h3 Available sizes
											%label{:for => "size_s"}
												%a{:href => "#"} S
												%input#size_s.size-input{:name => "size", :type => "radio", :value => "s"}
											%label{:for => "size_m"}
												%a{:href => "#"} M
												%input#size_m.size-input{:name => "size", :type => "radio", :value => "m"}
											%label{:for => "size_l"}
												%a{:href => "#"} L
												%input#size_l.size-input{:name => "size", :type => "radio", :value => "l"}
										%p.price $124.00
										%p.text-center
											%button.btn.btn-primary{:type => "submit"}
												%i.fa.fa-shopping-cart
												Add to cart
											%button.btn.btn-default{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Add to wishlist", :type => "submit"}
												%i.fa.fa-heart-o
								/ /.box
								.quick-view-social
									%h4 Show it to your friends
									%p
										%a.external.facebook{"data-animate-hover" => "pulse", :href => "#"}
											%i.fa.fa-facebook
										%a.external.gplus{"data-animate-hover" => "pulse", :href => "#"}
											%i.fa.fa-google-plus
										%a.external.twitter{"data-animate-hover" => "pulse", :href => "#"}
											%i.fa.fa-twitter
										%a.email{"data-animate-hover" => "pulse", :href => "#"}
											%i.fa.fa-envelope

	.pages
		%ul.pagination
			= will_paginate @products, previous_label: "&laquo;", next_label: "&raquo;"
/ /.col-md-9
/ *** LEFT COLUMN END ***
/
	*** RIGHT COLUMN ***
	_________________________________________________________
.col-sm-3
	/
		*** MENUS AND FILTERS ***
		_________________________________________________________
	=render 'filters'
/ *** RIGHT COLUMN END ***