.col-md-3.col-sm-6
  .box
    %h3 Дополняющие товары

-@product.accompanies.each do |accompany|
  .col-md-3.col-sm-6
    .product
      .image
        =link_to '#' do
          -if accompany.images.first.image.url(:thumb_medium)
            =image_tag accompany.images.first.image.url(:thumb_medium), class: 'img-responsive image1', alt: ''
          -else
            =image_tag accompany.images.first.image.to_s, class: 'img-responsive image1', alt: ''
      .text
        %h3
          =accompany.title
        %p.price
          от
          =sprintf('%.2f', initialPrice(accompany.options.first.price))
          руб.