#content
	.container
		.col-md-12
			=render 'shared/breadcrumbs'
			.row
				.box.text-center
					.row
						.col-sm-10.col-sm-offset-1
							-if @category_id && @subcategory_id.blank?
								%h1 
									=@category.title
								-unless @category.title == 'Флешки' && @subcategory.blank?
									%p.text-muted 
										=@category.description
							-elsif @category_id && @subcategory_id
								%h1
									="#{@subcategory.title} (#{@category.title})"
								%p.text-muted
									=@subcategory.description
