%h1 Create new product


=form_for @product, url: products_path do |f|
	%p
		=f.label :title
		=f.text_field :title
		%br
		=f.label :description
		=f.text_area :description
		%br
		=f.label :advertising_text
		=f.text_area :advertising_text
		%br
		=f.label :fancy_quote
		=f.text_area :fancy_quote
		%br
		=f.label :category_id
		=f.collection_select :category_id, Category.all, :id, :title, { prompt: 'Please select category' }
		%br
		=f.label 'Product Size'
		=f.collection_check_boxes(:product_size_ids, ProductSize.all, :id, :size)
		
	%p
		= f.fields_for :options do |builder|
			=builder.label :price
			=builder.text_field :price
			%br
			=builder.label :size
			=builder.text_field :size
			%br
			=builder.label :weight
			=builder.text_field :weight
			%br
			=builder.label :material
			=builder.text_field :material
			%br
			=builder.fields_for :option_pics do |op|
				= op.label 'Upload image'
				= op.file_field :product_image
	=f.submit