%h1 Create new product

=select_tag(@subcategory, options_for_select([['Flash', 1], ['Selfie', 2]]))

=form_for @product, url: products_path do |f|
	%p
		=f.label :title
		=f.text_field :title
		%br
		=f.label :description
		=f.text_area :description
		%br
		=f.label :advertising_text
		=f.text_area :advertising_text
		%br
		=f.label :fancy_quote
		=f.text_area :fancy_quote
		%br
		=f.label :category_id
		=f.collection_select :category_id, Category.all, :id, :title, { prompt: 'Please select category' }
		
	%p
		= fields_for @option do |o|
			=o.label :price
			=o.text_field :price
			%br
			=o.label :size
			=o.text_field :size
			%br
			=o.label :weight
			=o.text_field :weight
			%br
			=o.label :material
			=o.text_field :material
	%p
		= fields_for @option_pic do |op|
			= op.label 'Upload image'
			= op.file_field :product_image
	=f.submit