%h1 Create new product


=form_for @product, url: products_path do |f|
	%p
		=f.label :title
		=f.text_field :title
		%br
		=f.label :description
		=f.text_area :description
		%br
		=f.label :advertising_text
		=f.text_area :advertising_text
		%br
		=f.label :fancy_quote
		=f.text_area :fancy_quote
		%br
		=f.label :category_id
		=f.collection_select :category_id, Category.all, :id, :title, { prompt: 'Please select category' }
		%br
		=f.label :subcategory_id
		=f.collection_select :subcategory_id, Subcategory.all, :id, :title, { prompt: 'Please select sub-category' }
		%br
		=f.label 'Product Size'
		=f.collection_check_boxes(:volume_ids, Volume.all, :id, :value)
		
	%p
		= f.fields_for :options do |builder|
			=builder.label :price
			=builder.text_field :price
			%br
			=builder.label :size
			=builder.text_field :size
			%br
			=builder.label :weight
			=builder.text_field :weight
			%br
			=builder.label :material
			=builder.text_field :material
			%br
			=fields_for :option_pic, html: { multipart: true, id: "fileupload"  } do |op|
				= op.label 'Upload image'
				= op.file_field :product_image, multiple: true, id: 'fileupload'
	=f.submit id: 'submit-data'