#content
  .container
    .col-md-12
      %ul.breadcrumb
        %li
          =link_to 'Главная', root_path
        %li
          =link_to @product.category.title, root_path
        %li
          =link_to @product.subcategory.title, root_path
        %li
          = @product.title
      .box.text-center
        .row
          .col-sm-10.col-sm-offset-1
            %h1 
              =@product.title
            %p.text-muted
              =@product.advertising_text
            %p.goToDescription
              %a.scroll-to{:href => "#details"} Пролистните вниз, что бы узнать все детали товара
    /
      *** LEFT COLUMN ***
      _________________________________________________________
    .col-md-9
      #productMain.row
        .col-sm-6
          #mainImage
            =image_tag @product.images.first.image.to_s, class: 'img-responsive'
            / %img.img-responsive{:alt => "", :src => "img/detailbig1.jpg"}
          .ribbon.sale
            .theribbon SALE
            .ribbon-background
          / /.ribbon
          .ribbon.new
            .theribbon NEW
            .ribbon-background
          / /.ribbon
        .col-sm-6
          .box
            %form
              .sizes
                %h3 Доступные объемы памяти (Гигабайт)
                -@product.volumes.each do |volume|
                  %label{:for => "size_#{volume.id}"}
                  %a{:href => "#"}
                    =sprintf('%.0f', volume.value/1000.to_f)
                    Гб
                  %input#size_s.size-input{:name => "volume", :type => "radio", :value => volume.id}
              %p.price
                =@getCurrency[0]
                Рублей
                %br
                (курс доллара на #{DateTime.now.to_date.strftime("%d/%m")} - #{@getCurrency[1]},
                оригинальная цена
                =@getCurrency[2]
                USD)
              %p.text-center
                =link_to line_items_path(product_id: @product.id), method: :post, class: 'btn btn-primary shopping-cart-btn' do
                  %i.fa.fa-shopping-cart
                  Купить
                %button.btn.btn-default{"data-placement" => "top", "data-toggle" => "tooltip", :title => "Add to wishlist", :type => "submit"}
                  %i.fa.fa-heart-o
          #thumbs.row
            -@product.images.each do |pic|
              .col-xs-4
                =link_to pic.image.to_s, class: 'thumb' do
                  =image_tag(pic.image.to_s, alt: "", class: 'img-responsive')
            /   %a.thumb{:href => "img/detailbig1.jpg"}
            /     %img.img-responsive{:alt => "", :src => "img/detailsquare.jpg"}
            / .col-xs-4
            /   %a.thumb{:href => "img/detailbig2.jpg"}
            /     %img.img-responsive{:alt => "", :src => "img/detailsquare2.jpg"}
            / .col-xs-4
            /   %a.thumb{:href => "img/detailbig3.jpg"}
            /     %img.img-responsive{:alt => "", :src => "img/detailsquare3.jpg"}
      #details.box
        %p
          %h4 Описание продукта
          %p=@product.description
          %h4 Материал
          %ul
            -@product.options.each do |option|
              %li=option.material
          %h4 Размеры
          %ul
            -@product.options.each do |option|
              %li=option.size
          %blockquote
            %p
              %em
                =@product.fancy_quote
      #product-social.box.social
        %h4 Show it to your friends
        %p
          %a.external.facebook{"data-animate-hover" => "pulse", :href => "#"}
            %i.fa.fa-facebook
          %a.external.gplus{"data-animate-hover" => "pulse", :href => "#"}
            %i.fa.fa-google-plus
          %a.external.twitter{"data-animate-hover" => "pulse", :href => "#"}
            %i.fa.fa-twitter
          %a.email{"data-animate-hover" => "pulse", :href => "#"}
            %i.fa.fa-envelope
      .row
        =render 'similar_products'
      .row
        .col-md-3.col-sm-6
          .box
            %h3 Products viewed recently
        .col-md-3.col-sm-6
          .product
            .image
              %a{:href => "#"}
                %img.img-responsive.image1{:alt => "", :src => "img/product3.jpg"}
            .text
              %h3 Fur coat
              %p.price $143
          / /.product
        .col-md-3.col-sm-6
          .product
            .image
              %a{:href => "#"}
                %img.img-responsive.image1{:alt => "", :src => "img/product1.jpg"}
            .text
              %h3 Fur coat
              %p.price $143
          / /.product
        .col-md-3.col-sm-6
          .product
            .image
              %a{:href => "#"}
                %img.img-responsive.image1{:alt => "", :src => "img/product2.jpg"}
            .text
              %h3 Fur coat
              %p.price $143
          / /.product
    / /.col-md-9
    / *** LEFT COLUMN END ***
    /
      *** RIGHT COLUMN ***
      _________________________________________________________
    .col-sm-3
      /
        *** MENUS AND FILTERS ***
        _________________________________________________________
      .panel.panel-default.sidebar-menu
        .panel-heading
          %h3.panel-title Categories
        .panel-body
          %ul.nav.nav-pills.nav-stacked.category-menu
            %li
              %a{:href => "category.html"}
                Men
                %span.badge.pull-right 42
              %ul
                %li
                  %a{:href => "category.html"} T-shirts
                %li
                  %a{:href => "category.html"} Shirts
                %li
                  %a{:href => "category.html"} Pants
                %li
                  %a{:href => "category.html"} Accessories
            %li.active
              %a{:href => "category.html"}
                Ladies
                %span.badge.pull-right 123
              %ul
                %li
                  %a{:href => "category.html"} T-shirts
                %li
                  %a{:href => "category.html"} Skirts
                %li
                  %a{:href => "category.html"} Pants
                %li
                  %a{:href => "category.html"} Accessories
            %li
              %a{:href => "category.html"}
                Kids
                %span.badge.pull-right 11
              %ul
                %li
                  %a{:href => "category.html"} T-shirts
                %li
                  %a{:href => "category.html"} Skirts
                %li
                  %a{:href => "category.html"} Pants
                %li
                  %a{:href => "category.html"} Accessories
      .panel.panel-default.sidebar-menu
        .panel-heading
          %h3.panel-title
            Brands
            %a.btn.btn-xs.btn-danger.pull-right{:href => "#"}
              %i.fa.fa-times-circle
              %span.hidden-sm Clear
        .panel-body
          %form
            .form-group
              .checkbox
                %label
                  %input{:type => "checkbox"}
                    Armani (10)
              .checkbox
                %label
                  %input{:type => "checkbox"}
                    Versace (12)
              .checkbox
                %label
                  %input{:type => "checkbox"}
                    Carlo Bruni (15)
              .checkbox
                %label
                  %input{:type => "checkbox"}
                    Jack Honey (14)
            %button.btn.btn-default.btn-sm.btn-primary
              %i.fa.fa-pencil
              Apply
      .panel.panel-default.sidebar-menu
        .panel-heading
          %h3.panel-title.clearfix
            Colours
            %a.btn.btn-xs.btn-danger.pull-right{:href => "#"}
              %i.fa.fa-times-circle
              %span.hidden-sm Clear
        .panel-body
          %form
            .form-group
              .checkbox
                %label
                  %input{:type => "checkbox"}
                    %span.colour.white
                    White (14)
              .checkbox
                %label
                  %input{:type => "checkbox"}
                    %span.colour.blue
                    Blue (10)
              .checkbox
                %label
                  %input{:type => "checkbox"}
                    %span.colour.green
                    Green (20)
              .checkbox
                %label
                  %input{:type => "checkbox"}
                    %span.colour.yellow
                    Yellow (13)
              .checkbox
                %label
                  %input{:type => "checkbox"}
                    %span.colour.red
                    Red (10)
            %button.btn.btn-default.btn-sm.btn-primary
              %i.fa.fa-pencil
              Apply
      / *** MENUS AND FILTERS END ***
      .banner
        %a{:href => "category.html"}
          %img.img-responsive{:alt => "sales 2014", :src => "img/banner.jpg"}
      / /.banner
    / /.col-md-3
    / *** RIGHT COLUMN END ***
  / /.container
/ /#content
