#content
  .container
    .col-md-12
      %ul.breadcrumb
        %li
          =link_to 'Главная', root_path
        %li
          =link_to @product.category.title, root_path
        %li
          =link_to @product.subcategory.title, root_path
        %li
          = @product.title
      .box.text-center
        .row
          .col-sm-10.col-sm-offset-1
            %h1 
              =@product.title
            %p.text-muted
              =@product.advertising_text
            %p.goToDescription
              %a.scroll-to{:href => "#details"} Пролистните вниз, что бы узнать все детали товара
    /
      *** LEFT COLUMN ***
      _________________________________________________________
    .col-md-12
      #productMain.row
        .col-sm-6
          #mainImage
            -if @product.images.any?
              =image_tag @product.images.first.image.to_s, class: 'img-responsive'

          / Lets switch it off for a while
          / .ribbon.sale
          /   .theribbon SALE
          /   .ribbon-background
          / /.ribbon
          -if @product.created_at < 1.week.ago
            .ribbon.new
              .theribbon НОВИНКА
              .ribbon-background
          #thumbs.row
            -if @product.images.any?
              -@product.images.each do |pic|
                .col-xs-4
                  =link_to pic.image.to_s, class: 'thumb' do
                    =image_tag(pic.image.to_s, alt: "", class: 'img-responsive')
          / /.ribbon
        .col-sm-6
          .box
            %h3 Опции данного товара
            =form_for :line_item, url: line_items_path(product_id: @product.id), remote: true do |f|
              / remote: true
              .sizes
                %label{for: 'size'}
                  Выберите объем
                %br
                -@productSizes.each_with_index do |volume, index|
                  -volume.each do |item|
                    =link_to "#", class: 'size_input' do
                      =sprintf('%.0f', item.value/1000.to_f)
                      Гб
                    %input#size_s.size-input{:name => "volume", :type => "radio", :value => [item.value, (@getCurrency[index][0].to_f).ceil] }

              .row
                .col-sm-6
                  %label{for: 'color'}
                    Цвет
                  =select_tag 'color', options_from_collection_for_select(@product.colors, 'id', 'value'), class: 'form-control', id: 'color'
              .row
                .col-sm-6        
                  %label{for: 'amount'}
                    Количество
                  %input.form-control{:type => "number", value: 1, size: 5, id: 'amount', name: 'amount'}
              .row
                .col-sm-9
                  .form-group
                    %label{for: 'delivery'}
                      Доставка
                    =select_tag 'delivery', options_from_collection_for_select(Delivery.all, 'coefficient', 'value'), class: 'form-control', id: 'delivery'
              -if @product.addservices.any?
                .row
                  .col-sm-9
                    .form-group#addservices.reveal-closed
                      %label{for: 'addservices'}
                        Дополнительные услуги
                      -@servizations.each do |servization|
                        %br
                        =check_box_tag('addservices[]', [servization[0].addservice_id, servization[1]], false, class: 'addservice_checkbox')
                        =Addservice.find_by(id: servization[0].addservice_id).title
                        -
                        =sprintf('%.2f', servization[1])
                        руб.
                    -if @servizations.count > 5
                      #thediv
                        %a.btn.btn-primary{:href => "#", id: 'load_more_btn'}
                          %i.fa.fa-chevron-down
                          Показать все
                        
              .row
                .col-sm-12
                  Цена:
                  %p.price#priceValue
                    
                    =(@getCurrency[0][0].to_f).ceil
                  руб.
              .row
                .col-sm-12
                  %p.text-center
                    =button_tag(type: 'submit', id: 'add_item_to_cart', class: 'btn btn-primary shopping-cart-btn') do
                      %i.fa.fa-shopping-cart
                      Купить
          
      #details.box
        %p
          %h4 Описание продукта
          %p=@product.description
          -if @product.material
            %h4 Материал
            =@product.material
          -if @product.size
            %h4 Размер
            =@product.size
          -if @product.fancy_quote
            %blockquote
              %p
                %em
                  =@product.fancy_quote
      #product-social.box.social
        %h4 Расскажите о нас друзьям
        %p
          =render 'shared/social'
      -if @product.accompanships.any?
        .row
          =render 'similar_products'
      .row
        =render 'shared/you_may_like'
