%tr
	%td
		=line_item.quantity
		шт
	%td
		=line_item.product.title
	%td.item_price
		=sprintf("%.2f", line_item.sellprice)
		руб

	%td
		=sprintf("%.2f", line_item.calculateAdditionalServices(line_item))
		руб
	%td 
		=sprintf("%.2f", line_item.totalPrice + line_item.calculateAdditionalServices(line_item))
		руб