#footer
	.container
		.col-md-3.col-sm-6
			%h4 Pages

			%ul
				%li About us
				%li Terms and conditions
				%li FAQ
				%li Contact us

			%hr

			%h4 User section

			%ul
				%li Login
				%li Register

			%hr.hidden-md.hidden-lg.hidden-sm

		.col-md-3.col-sm-6
			%h4 Top categories

			%h5 Men

			%ul
				%li T-shirts