#footer
	.container
		.col-md-3.col-sm-6
			%h4 Оставайтесь на связи
			%p.text-muted Подпишитесь на нашу рассылку и вы всегда будете в курсе последний событий и акций!
			%form
				.input-group
					%input.form-control{:type => "text"}
						%span.input-group-btn
							%button.btn.btn-default{:type => "button"} Подписаться!
				%hr.hidden-md.hidden-lg.hidden-sm
		/ /.col-md-3
		.col-md-1
		.col-md-3.col-md-offset-1.col-sm-6
			%h4 Мы в социальных сетях
			%p.social
				=render 'layouts/uptolike'
				=render 'shared/social'
			%hr.hidden-md.hidden-lg
		/ /.col-md-3
		.col-md-4.col-sm-6
			.pull-right.totheright
				%h4 Контакты
				%p
					%strong info@usb-fleshki-optom.ru
					%br
						=link_to 'https://yandex.ru/maps/213/moscow/?ncrnd=7349&mode=search&text=%D0%9F%D1%80%D0%BE%D1%82%D0%BE%D0%BF%D0%BE%D0%BF%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BF%D0%B5%D1%80%D0%B5%D1%83%D0%BB%D0%BE%D0%BA%20%D0%B4.9&sll=37.620393%2C55.753960&sspn=1.408997%2C0.472426&ol=geo&ouri=ymapsbm1%3A%2F%2Fgeo%3Fll%3D37.638%252C55.780%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%259C%25D0%25BE%25D1%2581%25D0%25BA%25D0%25B2%25D0%25B0%252C%2520%25D0%259F%25D1%2580%25D0%25BE%25D1%2582%25D0%25BE%25D0%25BF%25D0%25BE%25D0%25BF%25D0%25BE%25D0%25B2%25D1%2581%25D0%25BA%25D0%25B8%25D0%25B9%2520%25D0%25BF%25D0%25B5%25D1%2580%25D0%25B5%25D1%2583%25D0%25BB%25D0%25BE%25D0%25BA%252C%25209&ll=37.638494%2C55.780477&z=16', target: '_blank' do
							Протопоповский переулок д.9
				%hr.hidden-md.hidden-lg.hidden-sm
/ /#footer
/ *** FOOTER END ***
/
	*** COPYRIGHT ***
	_________________________________________________________
#copyright
	.container
		.col-md-12
			%p.pull-left
				\&copy; 2008-2016 ООО "Флешки оптом". Все права защищены.

=render 'layouts/yandex_metrika'
/ /#copyright
/ *** COPYRIGHT END ***