/
  *** NAVBAR ***
  _________________________________________________________
#navbar.navbar.navbar-default.navbar-fixed-top.yamm{:role => "navigation"}
  .container
    .navbar-header
      =link_to root_path, class: 'navbar-brand home' do
        =image_tag 'default/logo.png', class: 'hidden-xs hidden-sm', alt: "Minimal logo" do
          %img.visible-xs.visible-sm{:alt => "Minimal logo", :src => "img/logo-small.png"}
            %span.sr-only Minimal - go to homepage
      .navbar-buttons
        %button.navbar-toggle.btn-primary{"data-target" => "#navigation", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %i.fa.fa-align-justify
        %a.btn.btn-primary.navbar-toggle{:href => "basket.html"}
          %i.fa.fa-shopping-cart
          %span.hidden-xs 3 items in cart
        %button.navbar-toggle.btn-default{"data-target" => "#search", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle search
          %i.fa.fa-search
        %button.navbar-toggle.btn-default{"data-target" => "#login-modal", "data-toggle" => "modal", :type => "button"}
          %span.sr-only User login
          %i.fa.fa-users
    / /.navbar-header
    #navigation.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-left
        %li.active.dropdown.normal-dropdown
          =link_to 'Главная', root_path

        
        -Category.all.each do |category|
          %li.dropdown.yamm-fw
            =link_to products_path(category: category.title), class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
              =category.title
              %b.caret
            %ul.dropdown-menu
              %li
                .yamm-content
                  .row
                    .col-sm-3
                      %img.img-responsive.hidden-xs{:alt => "", :src => "img/men.jpg"}
                    -category.subcategories.in_groups_of(4, false).each do |group_of_four|
                      .col-sm-3
                        %h3
                          =category.title
                        %ul
                          -group_of_four.each do |subcategory|
                            %li
                              =link_to subcategory.title, products_path(category: category.title, subcategory: subcategory.title)

                  .footer.clearfix.hidden-xs
                    %h4.pull-right
                      =category.title
                    .buttons.pull-left
                      %a.btn.btn-default{:href => "#"}
                        %i.fa.fa-tags
                        Sales
                      %a.btn.btn-default{:href => "#"}
                        %i.fa.fa-star-o
                        Favourites
                      %a.btn.btn-default{:href => "#"}
                        %i.fa.fa-globe
                        Brands
        %li
          %a{:href => "contact.html"} Contact
    / /.nav-collapse
    #basket-overview.navbar-collapse.collapse.right
      -if session[:cart_id]
        =link_to cart_path(session[:cart_id]), class: 'btn btn-primary navbar-btn', id: 'cart_button' do
          %i.fa.fa-shopping-cart
          %span.hidden-sm
            =Cart.find(session[:cart_id]).line_items.to_a.sum { |item| item.quantity }
            товаров
            %span.hidden-md в корзине 
    / /.nav-collapse
    .navbar-collapse.collapse.right
      %button.btn.navbar-btn.btn-default{"data-target" => "#search", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle search
        %i.fa.fa-search
    .navbar-collapse.collapse.right
      %button.btn.navbar-btn.btn-default{"data-target" => "#login-modal", "data-toggle" => "modal", :type => "button"}
        %span.sr-only User login
        %i.fa.fa-users
    #search.collapse.clearfix
      %form.navbar-form{:role => "search"}
        .input-group
          %input.form-control{:placeholder => "Search", :type => "text"}
            %span.input-group-btn
              %button.btn.btn-primary{:type => "submit"}
                %i.fa.fa-search
    / /.nav-collapse
/ /#navbar
/ *** NAVBAR END ***
/
  *** LOGIN MODAL ***
  _________________________________________________________