/
  *** NAVBAR ***
  _________________________________________________________
#navbar.navbar.navbar-default.navbar-fixed-top.yamm{:role => "navigation"}
  .container
    .navbar-header
      =link_to root_path, class: 'navbar-brand home' do
        =image_tag 'default/logo_full.png', class: 'hidden-xs hidden-sm', alt: "Логотип Мосфлеш", width: 180
        =image_tag 'default/logo_small.png', class: 'visible-xs visible-sm', alt: 'Логотип Мосфлеш'
        %span.sr-only Мосфлеш - обратно на главную
    / Descriptor text
    .navbar-header.descriptor
      %h6 
        Рекламно-сувенираня продукция
        %br
        под нанесение вашего логотипа
        %br
        с доставкой по России и СНГ

    #basket-overview.navbar-collapse.collapse.right
      %h3.phone_number
        =link_to '#' do
          +7 (499) 755-80-55
      %h6.under_phone_number Режим работы: 10:00 - 20:00 (пн-пт)
    / /.navbar-header
  .container
    #navigation.navbar-collapse.collapse
      %ul.nav.navbar-nav#navbar-left
        %li.active.dropdown.normal-dropdown
          =link_to 'Главная', root_path

        
        -Category.all.each do |category|
          %li.dropdown.yamm-fw
            -if category.subcategories.any?
              =link_to products_path(category: category.title), class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
                =category.title
                %b.caret
              %ul.dropdown-menu
                %li
                  .yamm-content
                    .row
                      .col-sm-3
                        =image_tag category.avatar, class: 'img-responsive hidden-xs', alt: ''
                      -category.subcategories.in_groups_of(4, false).each_with_index do |group_of_four, index|
                        .col-sm-3
                          %h3
                            -if index==0
                              =category.title
                            -else
                              =('<span style="color: #fff;">I</span>').html_safe
                          %ul
                            -group_of_four.each do |subcategory|
                              %li
                                =link_to subcategory.title, products_path(category: category.title, subcategory: subcategory.title)

                    .footer.clearfix.hidden-xs
                      %h4.pull-right
                        =category.title
                      / .buttons.pull-left
                      /   %a.btn.btn-default{:href => "#"}
                      /     %i.fa.fa-tags
                      /     Sales
                      /   %a.btn.btn-default{:href => "#"}
                      /     %i.fa.fa-star-o
                      /     Favourites
                      /   %a.btn.btn-default{:href => "#"}
                      /     %i.fa.fa-globe
                      /     Brands
            -else
              =link_to category.title, products_path(category: category.title), class: 'dropdown-toggle'
        / Custom menu for additional services and "about us"
        %li.dropdown.yamm-fw
          =link_to addservices_path do
            Услуги
        %li.dropdown.yamm-fw
          =link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
            О нас
            %b.caret
          %ul.dropdown-menu
            %li
              .yamm-content
                .row
                  .col-sm-3
                    =link_to 'Новости', blogposts_path
    / /.nav-collapse
    #basket-overview.navbar-collapse.collapse.right
      -if session[:cart_id]
        =link_to(cart_path(session[:cart_id]), class: 'btn btn-primary navbar-btn btn-scndrow', id: 'cart_button') do
          %i.fa.fa-shopping-cart
          %span.hidden-sm
            -if Cart.find(session[:cart_id]).line_items.any? 
              =Cart.find(session[:cart_id]).line_items.to_a.sum { |item| item.quantity }
              товаров
              %span.hidden-md в корзине 
            -else
              Корзина пустая
    / /.nav-collapse
    / .navbar-collapse.collapse.right
    /   %button.btn.navbar-btn.btn-default{"data-target" => "#search", "data-toggle" => "collapse", :type => "button"}
    /     %span.sr-only Toggle search
    /     %i.fa.fa-search
    / .navbar-collapse.collapse.right
    /   %button.btn.navbar-btn.btn-default{"data-target" => "#login-modal", "data-toggle" => "modal", :type => "button"}
    /     %span.sr-only User login
    /     %i.fa.fa-users
    / #search.collapse.clearfix
    /   %form.navbar-form{:role => "search"}
    /     .input-group
    /       %input.form-control{:placeholder => "Search", :type => "text"}
    /         %span.input-group-btn
    /           %button.btn.btn-primary{:type => "submit"}
    /             %i.fa.fa-search
    / /.nav-collapse
/ /#navbar
/ *** NAVBAR END ***
/
  *** LOGIN MODAL ***
  _________________________________________________________