/
  *** NAVBAR ***
  _________________________________________________________
#navbar.navbar.navbar-default.navbar-fixed-top.yamm{:role => "navigation"}
  .container
    .navbar-header
      =link_to root_path, class: 'navbar-brand home' do
        =image_tag 'default/logo_full.png', class: 'hidden-xs hidden-sm', alt: "Логотип Мосфлеш", width: 180
        =image_tag 'default/logo_small.png', class: 'visible-xs visible-sm', alt: 'Логотип Мосфлеш'
        %span.sr-only Мосфлеш - обратно на главную
    / Descriptor text
    .navbar-header.descriptor
      %h6 
        Рекламно-сувенираня продукция
        %br
        под нанесение вашего логотипа
        %br
        с доставкой по России и СНГ

    #basket-overview.navbar-collapse.collapse.right
      %h3.phone_number
        =link_to '#' do
          +7 (499) 755-80-55
      %h6.under_phone_number Режим работы: 10:00 - 20:00 (пн-пт)
    / /.navbar-header
  .container
    #navigation.navbar-collapse.collapse
      %ul.nav.navbar-nav#navbar-left
        %li.active.dropdown.normal-dropdown
          =link_to 'Главная', root_path

        
        -Category.all.order(orderid: :asc).each do |category|
          %li.dropdown.yamm-fw
            -if category.subcategories.any?
              =link_to products_path(category: category.title), class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
                =category.title
                %b.caret
              %ul.dropdown-menu
                %li
                  .yamm-content
                    .row
                      .col-sm-3
                        =image_tag category.avatar, class: 'img-responsive hidden-xs', alt: ''
                      -category.subcategories.in_groups_of(4, false).each_with_index do |group_of_four, index|
                        .col-sm-3
                          %h3
                            -if index==0
                              =category.title
                            -else
                              =('<span style="color: #fff;">I</span>').html_safe
                          %ul
                            -group_of_four.each do |subcategory|
                              %li
                                =link_to subcategory.title, products_path(category: category.title, subcategory: subcategory.title)

                    .footer.clearfix.hidden-xs
                      %h4.pull-right
                        =category.title
                      / .buttons.pull-left
                      /   %a.btn.btn-default{:href => "#"}
                      /     %i.fa.fa-tags
                      /     Sales
                      /   %a.btn.btn-default{:href => "#"}
                      /     %i.fa.fa-star-o
                      /     Favourites
                      /   %a.btn.btn-default{:href => "#"}
                      /     %i.fa.fa-globe
                      /     Brands
            -else
              =link_to category.title, products_path(category: category.title), class: 'dropdown-toggle'
        / Custom menu for additional services and "about us"
        %li.dropdown.yamm-fw
          =link_to addservices_path do
            Услуги
        %li.dropdown.yamm-fw
          =link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
            О нас
            %b.caret
          %ul.dropdown-menu
            %li
              .yamm-content
                .row
                  .col-sm-3
                    =image_tag 'default/about_company.png', class: 'img-responsive hidden-xs', alt: ''
                  .col-sm-3
                    %h3
                      О нас
                    %ul
                      %li
                        =link_to "Новости", blogposts_path
                      %li
                        =link_to "Контакты", contacts_path
                      %li
                        =link_to "История", history_path
                  .col-sm-3
                  .col-sm-3
                .footer.clearfix.hidden-xs
                  %h4.pull-right
                    О нас

    / /.nav-collapse
    #basket-overview.navbar-collapse.collapse.right
      =hidden_div_if(Cart.find(session[:cart_id]).line_items.empty?, id: 'cart') do
        =render 'shared/cart_button'