/
  *** NAVBAR ***
  _________________________________________________________
#navbar.navbar.navbar-default.navbar-fixed-top.yamm{:role => "navigation"}
  .container
    .navbar-header
      =link_to root_path, class: 'navbar-brand home' do
        =image_tag 'default/fleshki-optom-logo-v2.png', class: 'hidden-xs hidden-sm', alt: "Логотип Мосфлеш", width: 98
        =image_tag 'default/fleshki-optom-logo-v2.png', class: 'visible-xs visible-sm', alt: 'Логотип Мосфлеш', width: 98
        %span.sr-only Мосфлеш - обратно на главную
    / Descriptor text
    .navbar-header.descriptor
      %h6
        .add_descriptor_class 
          .text-blue
            Флешки оптом
            %br
            под нанесение вашего логотипа
            %br
            с доставкой по России и СНГ

    #basket-overview.navbar-collapse.collapse.right
      %h3.phone_number
        =link_to '#' do
          8 (499) 391 44 53
      %h6.under_phone_number Режим работы: 10:00 - 20:00 (пн-пт)
    / /.navbar-header
  .container
    #navigation.navbar-collapse.collapse
      %ul.nav.navbar-nav#navbar-left
        %li.active.dropdown.normal-dropdown
          =link_to 'Главная', root_path

        
        -Category.all.order(orderid: :asc).each do |category|
          %li.dropdown.yamm-fw
            =link_to category.title, products_path(category: category.title), class: 'dropdown-toggle'
        / Custom menu for additional services and "about us"
        %li.dropdown.yamm-fw
          =link_to addservices_path do
            Услуги
        %li.dropdown.yamm-fw
          =link_to 'Контакты', contacts_path

    / /.nav-collapse
    #basket-overview.navbar-collapse.collapse.right
      #mosflash-cart
        =hidden_div_if(Cart.find(session[:cart_id]).line_items.empty?, id: 'cart') do
          =render 'shared/cart_button'